extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h1 Rung: #{rung}
  h2 Bend: #{bend} 
  h2 Situp: #{situp}
  h2 Leg Lift: #{leglift}
  h2 Pushups: #{pushup}
  h2 Run and Jump: #{runandjump}

